<%= form_for(@user) do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :nom %><br />
    <%= f.text_field :nom %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Confirmation" %><br />
    <%= f.password_field :password_confirmation %>
  </div>
	<div class="field">
		<%= f.label :dob, "Date de Naissance" %><br />
		<%= f.date_select :dob, {:start_year => Time.now.year, :end_year => 1900, :prompt => true, :order => [:day, :month, :year]} %>
	</div>
	<div class="field">
    <%= f.label :taille, "Taille" %><br />
    <%= f.text_field :taille %>
  </div>
	<div class="field">
    <%= f.label :poidactu, "Poids Actuel" %><br />
    <%= f.text_field :poidactu %>
  </div>
	<div class="field">
    <%= f.label :poidideal, "Poids Idéal" %><br />
    <%= f.text_field :poidideal %>
  </div>
	<div class="field">
		<%= f.label :cv, "Curriculum Vitae (CV)" %><br />
				<% if @user.cv.exists? %>
				<div>Supprimer (Cochez la case pour supprimer votre CV) : </div><%= link_to @user.cv_file_name, @user.cv.url, :method => :get %>
				<%= f.check_box :delete_CV, :label =>"Supprimer", :title => "Supprimer #{@user.cv_file_name}" %>
				<div>Modifier :</div>
			<% end %>
		<%= f.file_field  :cv %>		
	</div>
	<div class="actions">
	<% if signed_in? %>
		<%= f.submit "Mettre à jour" %>
	<% else %>
    <%= f.submit "Inscription" %>
	<% end %>
  </div>
<% end %>
