<table class="profile" summary="Information profil">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.nom %>
      </h1>
    </td>

    <td class="sidebar round">
      <strong>Nom</strong> <%= @user.nom %><br />
			<% if !@age.nil? %><strong>Age</strong> <%= @age %> ans<br /><% end %>
      <strong>URL</strong>  <%= link_to user_path(@user), @user %><br />
			<strong><%if (current_user==@user)%><%= link_to "Éditer le profil", edit_user_path(@user) %><%end%></strong><br />
			<% if @user.cv.exists? %><strong>IMC</strong>  <%= @user.imc %> kg·m<SUP>−2</SUP><br /><% end %>
			<% if @user.cv.exists? %><strong>CV :</strong>  <%= link_to @user.cv_file_name, @user.cv.url, :method => :get %><% end %>
    </td>
  </tr>
	<tr>
		<td>
			<%= @msg %>
		</td>
	</tr>
</table>
